.outer{
  display: flex;
  flex-direction: column;
}

.about{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5rem 25rem;
  gap: 10rem;
  background-color: #eee;
  flex: 1 0 51.5rem;
}
