.full{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: flex-start;
  background-color: #eee;
  padding: 2rem;
  column-gap: 4rem;
  row-gap: 2rem;
}

.contactUs{
  grid-row: 2;
  grid-column: 2;
  background-color: #eee;
}
